In [10]:
import os, sys
import logging

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from joblib import dump
from model import model, fields

In [14]:
def get_x(csv_row, D):
    x = [0]  # 0 is the index of the bias term
    for key, value in csv_row.items():
        index = int(value + key[1:], 16) % D  # weakest hash ever ;)
        x.append(index)
    return x  # x contains indices of features that have a value of 1

In [ ]:
train = '/home/users/datasets/criteo_train1'
X_train = []
Y_train = []

D = 2 ** 10   # number of weights use for learning


for t, row in enumerate(open(train)):
    row = dict(zip(fields, row[:-1].split('\t')[:-1]))
    y = 1. if row['label'] == '1' else 0.

    del row['label']  # can't let the model peek the answer
    del row['id']  # we don't need the Id

    # main training procedure
    # step 1, get the hashed features
    x = get_x(row, D)
    x_row = np.zeros(D)
    x_row[x] = 1
    X_train.append(x_row)
    Y_train.append(y)
    if t%100000==0: print (t)
X_train = np.array(X_train)
Y_train = np.array(Y_train)
model.fit(X_train, Y_train)
model_score = model.score(X_train, Y_train)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000

In [15]:
train = '/home/users/datasets/criteo_train1'
read_table_opts = dict(sep="\t", names=fields, index_col=False)
data = pd.read_table(train, **read_table_opts)

In [12]:
data.head()

,id,label,if1,if2,if3,if4,if5,if6,if7,if8,...,cf17,cf18,cf19,cf20,cf21,cf22,cf23,cf24,cf25,cf26
0,0,NaN,600.0,1.0,342.0,9.0,0.0,0.0,18,1,...,b8170bba,9512c20b,9b6712fa,e611fb63,27fc20dc,NaN,201d7147,57e36578,b757e957,day_0
1,0,NaN,1424.0,1.0,1291.0,7.0,0.0,0.0,0,16,...,a1eb1511,9512c20b,fc33311c,f766202e,e1c2c118,NaN,4ffc2977,ff654802,b757e957,day_0
2,0,3.0,239.0,3.0,NaN,8.0,0.0,0.0,139,0,...,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,10c76e2c,30436bfc,e1be5ef2,day_0
3,0,11.0,537.0,3.0,NaN,6.0,0.0,0.0,366,2,...,a1eb1511,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,86c2a370,30436bfc,e1be5ef2,day_0
4,0,3.0,124.0,39.0,398.0,3.0,0.0,0.0,1,40,...,a1eb1511,9512c20b,47849e55,73b3f46d,d994ba60,NaN,d3d5ac76,ff654802,b757e957,day_0

In [17]:
Y_train = data['label']
data.drop(columns=['id','label'], inplace=True)

In [20]:
def row_hashing

,if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,...,cf17,cf18,cf19,cf20,cf21,cf22,cf23,cf24,cf25,cf26
0,NaN,600.0,1.0,342.0,9.0,0.0,0.0,18,1,0.0,...,NaN,b8170bba,9512c20b,9b6712fa,e611fb63,27fc20dc,NaN,201d7147,57e36578,b757e957
1,NaN,1424.0,1.0,1291.0,7.0,0.0,0.0,0,16,0.0,...,NaN,a1eb1511,9512c20b,fc33311c,f766202e,e1c2c118,NaN,4ffc2977,ff654802,b757e957
2,3.0,239.0,3.0,NaN,8.0,0.0,0.0,139,0,0.0,...,d20856aa,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,10c76e2c,30436bfc,e1be5ef2
3,11.0,537.0,3.0,NaN,6.0,0.0,0.0,366,2,0.0,...,d20856aa,a1eb1511,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,86c2a370,30436bfc,e1be5ef2
4,3.0,124.0,39.0,398.0,3.0,0.0,0.0,1,40,0.0,...,NaN,a1eb1511,9512c20b,47849e55,73b3f46d,d994ba60,NaN,d3d5ac76,ff654802,b757e957

In [46]:
model.predict_proba(X_train)

array([[0.95674162, 0.04325838],
       [0.9732295 , 0.0267705 ],
       [0.97179295, 0.02820705],
       ...,
       [0.98680389, 0.01319611],
       [0.97364832, 0.02635168],
       [0.97420331, 0.02579669]])

In [47]:
from sklearn.metrics import log_loss

log_loss(Y_train, model.predict_proba(X_train), eps=1e-15)

0.13515464958769954

In [ ]:
алидационный датасет размером примерно 2ГБ расположен в HDFS по адресу:

`/datasets/criteo_valid1_features`

Истинные значения валидационного датасета:

В HDFS: `/datasets/criteo_valid1_labels`

в локальной директории: `/datasets/criteo_valid1_labels`

In [ ]:
test =