In [1]:
import os, sys
import logging

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from joblib import dump
from model import model, fields

In [14]:
def get_x(csv_row, D):
    x = [0]  # 0 is the index of the bias term
    for key, value in csv_row.items():
        index = int(value + key[1:], 16) % D  # weakest hash ever ;)
        x.append(index)
    return x  # x contains indices of features that have a value of 1

In [ ]:
train = '/home/users/datasets/criteo_train1'
X_train = []
Y_train = []

D = 2 ** 10   # number of weights use for learning


for t, row in enumerate(open(train)):
    row = dict(zip(fields, row[:-1].split('\t')[:-1]))
    y = 1. if row['label'] == '1' else 0.

    del row['label']  # can't let the model peek the answer
    del row['id']  # we don't need the Id

    # main training procedure
    # step 1, get the hashed features
    x = get_x(row, D)
    x_row = np.zeros(D)
    x_row[x] = 1
    X_train.append(x_row)
    Y_train.append(y)
    if t%100000==0: print (t)
X_train = np.array(X_train)
Y_train = np.array(Y_train)
model.fit(X_train, Y_train)
model_score = model.score(X_train, Y_train)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000

In [15]:
train = '/home/users/datasets/criteo_train1'
read_table_opts = dict(sep="\t", names=fields, index_col=False)
data = pd.read_table(train, **read_table_opts)

In [12]:
data.head()

,id,label,if1,if2,if3,if4,if5,if6,if7,if8,...,cf17,cf18,cf19,cf20,cf21,cf22,cf23,cf24,cf25,cf26
0,0,NaN,600.0,1.0,342.0,9.0,0.0,0.0,18,1,...,b8170bba,9512c20b,9b6712fa,e611fb63,27fc20dc,NaN,201d7147,57e36578,b757e957,day_0
1,0,NaN,1424.0,1.0,1291.0,7.0,0.0,0.0,0,16,...,a1eb1511,9512c20b,fc33311c,f766202e,e1c2c118,NaN,4ffc2977,ff654802,b757e957,day_0
2,0,3.0,239.0,3.0,NaN,8.0,0.0,0.0,139,0,...,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,10c76e2c,30436bfc,e1be5ef2,day_0
3,0,11.0,537.0,3.0,NaN,6.0,0.0,0.0,366,2,...,a1eb1511,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,86c2a370,30436bfc,e1be5ef2,day_0
4,0,3.0,124.0,39.0,398.0,3.0,0.0,0.0,1,40,...,a1eb1511,9512c20b,47849e55,73b3f46d,d994ba60,NaN,d3d5ac76,ff654802,b757e957,day_0

In [17]:
Y_train = data['label']
data.drop(columns=['id','label'], inplace=True)

In [20]:
def row_hashing

,if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,...,cf17,cf18,cf19,cf20,cf21,cf22,cf23,cf24,cf25,cf26
0,NaN,600.0,1.0,342.0,9.0,0.0,0.0,18,1,0.0,...,NaN,b8170bba,9512c20b,9b6712fa,e611fb63,27fc20dc,NaN,201d7147,57e36578,b757e957
1,NaN,1424.0,1.0,1291.0,7.0,0.0,0.0,0,16,0.0,...,NaN,a1eb1511,9512c20b,fc33311c,f766202e,e1c2c118,NaN,4ffc2977,ff654802,b757e957
2,3.0,239.0,3.0,NaN,8.0,0.0,0.0,139,0,0.0,...,d20856aa,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,10c76e2c,30436bfc,e1be5ef2
3,11.0,537.0,3.0,NaN,6.0,0.0,0.0,366,2,0.0,...,d20856aa,a1eb1511,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,86c2a370,30436bfc,e1be5ef2
4,3.0,124.0,39.0,398.0,3.0,0.0,0.0,1,40,0.0,...,NaN,a1eb1511,9512c20b,47849e55,73b3f46d,d994ba60,NaN,d3d5ac76,ff654802,b757e957

In [46]:
model.predict_proba(X_train)

array([[0.95674162, 0.04325838],
       [0.9732295 , 0.0267705 ],
       [0.97179295, 0.02820705],
       ...,
       [0.98680389, 0.01319611],
       [0.97364832, 0.02635168],
       [0.97420331, 0.02579669]])

In [47]:
from sklearn.metrics import log_loss

log_loss(Y_train, model.predict_proba(X_train), eps=1e-15)

0.13515464958769954

In [ ]:
алидационный датасет размером примерно 2ГБ расположен в HDFS по адресу:

`/datasets/criteo_valid1_features`

Истинные значения валидационного датасета:

В HDFS: `/datasets/criteo_valid1_labels`

в локальной директории: `/datasets/criteo_valid1_labels`

In [ ]:
test =

In [4]:
train = '/home/users/datasets/criteo_train1'
data = pd.read_csv(train, sep='\t', header=None)

In [6]:
numeric_features = ["if"+str(i) for i in range(1,14)]
categorical_features = ["cf"+str(i) for i in range(1,27)]
fields = ["id", "label"] + numeric_features + categorical_features + ["day_number"]

In [8]:
data.columns = fields

In [9]:
data.head()

,id,label,if1,if2,if3,if4,if5,if6,if7,if8,...,cf18,cf19,cf20,cf21,cf22,cf23,cf24,cf25,cf26,day_number
0,0,0,NaN,600.0,1.0,342.0,9.0,0.0,0.0,18,...,b8170bba,9512c20b,9b6712fa,e611fb63,27fc20dc,NaN,201d7147,57e36578,b757e957,day_0
1,1,0,NaN,1424.0,1.0,1291.0,7.0,0.0,0.0,0,...,a1eb1511,9512c20b,fc33311c,f766202e,e1c2c118,NaN,4ffc2977,ff654802,b757e957,day_0
2,2,0,3.0,239.0,3.0,NaN,8.0,0.0,0.0,139,...,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,10c76e2c,30436bfc,e1be5ef2,day_0
3,3,0,11.0,537.0,3.0,NaN,6.0,0.0,0.0,366,...,a1eb1511,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,86c2a370,30436bfc,e1be5ef2,day_0
4,4,0,3.0,124.0,39.0,398.0,3.0,0.0,0.0,1,...,a1eb1511,9512c20b,47849e55,73b3f46d,d994ba60,NaN,d3d5ac76,ff654802,b757e957,day_0

In [10]:
data.describe()

,id,label,if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,if11,if12,if13
count,1.002918e+07,1.002918e+07,8.165654e+06,9.081073e+06,7.600402e+06,6.477893e+06,5.900706e+06,9.168076e+06,9.731039e+06,1.002918e+07,1.002918e+07,9.168076e+06,5.900706e+06,9.794035e+06,7.600402e+06
mean,5.014590e+06,3.242339e-02,3.637701e+01,4.297257e+02,7.340353e+00,1.325713e+02,2.227019e+01,1.640673e+00,1.586135e-01,1.112526e+02,9.798293e+00,2.880272e-01,4.114880e+00,2.169068e+04,9.273425e+00
std,2.895175e+06,1.771218e-01,5.083676e+02,7.107502e+02,1.041870e+01,6.204936e+02,7.877387e+01,1.682481e+01,2.419128e+00,3.866562e+02,1.899587e+01,5.606521e-01,7.044505e+00,7.483941e+04,2.544491e+01
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,2.507295e+06,0.000000e+00,3.000000e+00,5.900000e+01,2.000000e+00,1.000000e+01,2.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,5.740000e+02,2.000000e+00
50%,5.014590e+06,0.000000e+00,8.000000e+00,1.920000e+02,4.000000e+00,3.400000e+01,6.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,5.000000e+00,0.000000e+00,2.000000e+00,2.990000e+03,5.000000e+00
75%,7.521884e+06,0.000000e+00,2.400000e+01,5.080000e+02,9.000000e+00,1.000000e+02,1.600000e+01,1.000000e+00,0.000000e+00,5.000000e+01,1.400000e+01,0.000000e+00,4.000000e+00,1.238500e+04,1.100000e+01
max,1.002918e+07,1.000000e+00,6.553500e+04,8.000000e+03,3.329000e+03,2.820110e+05,7.898000e+03,4.556400e+04,3.348000e+03,8.696900e+04,1.444900e+04,1.800000e+01,2.260000e+02,2.907125e+06,1.356300e+04

In [85]:
train_path = '/home/users/datasets/criteo_train1'

In [120]:
numeric_features = ["if"+str(i) for i in range(1,14)]
categorical_features = ["cf"+str(i) for i in range(1,27)]
fields = ["id", "label"] + numeric_features + categorical_features + ["day_number"]

X_train = []
Y_train = []
X_test = []
Y_test = []

for t, row in enumerate(open(train_path)):
    if t==100: break
    if t%10==0:
        if t%4==0:
            row = dict(zip(fields, row.replace("\n",'').split('\t')))
            y = 1. if row['label'] == '1' else 0.
            del row['label']  # can't let the model peek the answer
            del row['id']  # we don't need the Id
            del row['day_number']
            X_test.append(list(row.values()))
            Y_test.append(y)
        else:
            row = dict(zip(fields, row.replace("\n",'').split('\t')))
            y = 1. if row['label'] == '1' else 0.
            del row['label']  # can't let the model peek the answer
            del row['id']  # we don't need the Id
            del row['day_number']
            X_train.append(list(row.values()))
            Y_train.append(y)

    
X_train = pd.DataFrame(X_train, columns=numeric_features + categorical_features, dtype=np.float64)
Y_train = np.array(Y_train)

In [141]:
read_table_opts = dict(sep="\t", names=fields, index_col=False)
df = pd.read_table(train_path, **read_table_opts)
df = df.sample(n=int(df.shape[0]/10), random_state=1)
y = df['label']
df.drop(columns=['label', 'id', 'day_number'], inplace=True)

In [147]:
y = df['label']
df.drop(columns=['label', 'id', 'day_number'], inplace=True)

In [149]:
df.dtypes

if1     float64
if2     float64
if3     float64
if4     float64
if5     float64
if6     float64
if7     float64
if8       int64
if9       int64
if10    float64
if11    float64
if12    float64
if13    float64
cf1      object
cf2      object
cf3      object
cf4      object
cf5      object
cf6      object
cf7      object
cf8      object
cf9      object
cf10     object
cf11     object
cf12     object
cf13     object
cf14     object
cf15     object
cf16     object
cf17     object
cf18     object
cf19     object
cf20     object
cf21     object
cf22     object
cf23     object
cf24     object
cf25     object
cf26     object
dtype: object

In [127]:
pd.DataFrame(X_train.values).dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26    object
27    object
28    object
29    object
30    object
31    object
32    object
33    object
34    object
35    object
36    object
37    object
38    object
dtype: object

In [61]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,,600,1,342,9,0,0,18,1,0,...,,b8170bba,9512c20b,9b6712fa,e611fb63,27fc20dc,,201d7147,57e36578,b757e957
1,,1424,1,1291,7,0,0,0,16,0,...,,a1eb1511,9512c20b,fc33311c,f766202e,e1c2c118,,4ffc2977,ff654802,b757e957
2,3,239,3,,8,0,0,139,0,0,...,d20856aa,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,10c76e2c,30436bfc,e1be5ef2
3,11,537,3,,6,0,0,366,2,0,...,d20856aa,a1eb1511,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,86c2a370,30436bfc,e1be5ef2
4,3,124,39,398,3,0,0,1,40,0,...,,a1eb1511,9512c20b,47849e55,73b3f46d,d994ba60,,d3d5ac76,ff654802,b757e957
5,,86,0,145,4,0,0,56,9,0,...,,b8170bba,0a1d513f,dee25a1b,0683bc6f,20d83ede,,cb957e95,30436bfc,2ccea557
6,12,85,4,59,6,0,0,7,1,0,...,d20856aa,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,893704a5,ff654802,e1be5ef2
7,8,73,5,,,0,0,12,7,0,...,1f7fc70b,3c328ca5,b49a729d,aba97a52,c9a4a2b5,1f7110fa,fdfd6c6e,2fb4a3d0,30436bfc,b757e957
8,,2,,,,,,-1,0,,...,,b8170bba,9512c20b,c07b84a7,323fe50a,504569ef,,1aa62c4a,0b3c06d0,2ccea557
9,,151,,44,1,0,0,-1,8,0,...,,b8170bba,64083ab9,19c186d4,b1c9c953,f6b4e176,,7e0e9736,30436bfc,b757e957

In [46]:
fields

['id',
 'label',
 'if1',
 'if2',
 'if3',
 'if4',
 'if5',
 'if6',
 'if7',
 'if8',
 'if9',
 'if10',
 'if11',
 'if12',
 'if13',
 'cf1',
 'cf2',
 'cf3',
 'cf4',
 'cf5',
 'cf6',
 'cf7',
 'cf8',
 'cf9',
 'cf10',
 'cf11',
 'cf12',
 'cf13',
 'cf14',
 'cf15',
 'cf16',
 'cf17',
 'cf18',
 'cf19',
 'cf20',
 'cf21',
 'cf22',
 'cf23',
 'cf24',
 'cf25',
 'cf26',
 'day_number']

In [76]:
fields = ["id", "label"] + numeric_features + categorical_features + ["day_number"]
read_table_opts = dict(sep="\t", names=fields, index_col=False)
df = pd.read_table(train_path, **read_table_opts)

In [77]:
df.head()

,id,label,if1,if2,if3,if4,if5,if6,if7,if8,...,cf18,cf19,cf20,cf21,cf22,cf23,cf24,cf25,cf26,day_number
0,0,0,NaN,600.0,1.0,342.0,9.0,0.0,0.0,18,...,b8170bba,9512c20b,9b6712fa,e611fb63,27fc20dc,NaN,201d7147,57e36578,b757e957,day_0
1,1,0,NaN,1424.0,1.0,1291.0,7.0,0.0,0.0,0,...,a1eb1511,9512c20b,fc33311c,f766202e,e1c2c118,NaN,4ffc2977,ff654802,b757e957,day_0
2,2,0,3.0,239.0,3.0,NaN,8.0,0.0,0.0,139,...,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,10c76e2c,30436bfc,e1be5ef2,day_0
3,3,0,11.0,537.0,3.0,NaN,6.0,0.0,0.0,366,...,a1eb1511,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,86c2a370,30436bfc,e1be5ef2,day_0
4,4,0,3.0,124.0,39.0,398.0,3.0,0.0,0.0,1,...,a1eb1511,9512c20b,47849e55,73b3f46d,d994ba60,NaN,d3d5ac76,ff654802,b757e957,day_0

In [128]:
from sklearn.model_selection import train_test_split

In [129]:
X_train, X_test, y_train, y_test = train_test_split(
    df.iloc[:,:-1], df.iloc[:,-1], test_size=0.33, random_state=42
)

In [130]:
X_train.head()

,id,label,if1,if2,if3,if4,if5,if6,if7,if8,...,cf17,cf18,cf19,cf20,cf21,cf22,cf23,cf24,cf25,cf26
6003240,6003240,0,2.0,21.0,1.0,35.0,4.0,2.0,0.0,1,...,NaN,d9f758ff,9512c20b,47849e55,73b3f46d,d994ba60,NaN,41c9a40b,ff654802,b757e957
2005743,2005743,0,72.0,2360.0,14.0,NaN,23.0,0.0,0.0,57,...,d20856aa,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,77c7b24a,30436bfc,e1be5ef2
3935848,3935848,0,140.0,NaN,34.0,NaN,NaN,0.0,0.0,0,...,NaN,a50e75c8,9512c20b,e67b4f57,d9e0dd16,dc61332a,NaN,8b796a4f,30436bfc,962813c6
8603316,8603316,0,4.0,179.0,5.0,261.0,2.0,0.0,0.0,0,...,d20856aa,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,56e75400,30436bfc,e1be5ef2
6856708,6856708,0,77.0,29.0,47.0,58.0,NaN,1.0,0.0,17,...,d20856aa,b8170bba,9512c20b,6f98f83f,cc18ce29,1b27ee0d,533dc96d,49e3431a,30436bfc,b757e957

In [131]:
X_train

,id,label,if1,if2,if3,if4,if5,if6,if7,if8,...,cf17,cf18,cf19,cf20,cf21,cf22,cf23,cf24,cf25,cf26
6003240,6003240,0,2.0,21.0,1.0,35.0,4.0,2.0,0.0,1,...,NaN,d9f758ff,9512c20b,47849e55,73b3f46d,d994ba60,NaN,41c9a40b,ff654802,b757e957
2005743,2005743,0,72.0,2360.0,14.0,NaN,23.0,0.0,0.0,57,...,d20856aa,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,77c7b24a,30436bfc,e1be5ef2
3935848,3935848,0,140.0,NaN,34.0,NaN,NaN,0.0,0.0,0,...,NaN,a50e75c8,9512c20b,e67b4f57,d9e0dd16,dc61332a,NaN,8b796a4f,30436bfc,962813c6
8603316,8603316,0,4.0,179.0,5.0,261.0,2.0,0.0,0.0,0,...,d20856aa,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,56e75400,30436bfc,e1be5ef2
6856708,6856708,0,77.0,29.0,47.0,58.0,NaN,1.0,0.0,17,...,d20856aa,b8170bba,9512c20b,6f98f83f,cc18ce29,1b27ee0d,533dc96d,49e3431a,30436bfc,b757e957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9958614,9958614,0,26.0,3.0,8.0,12.0,10.0,0.0,0.0,28,...,753da5f3,b8170bba,9512c20b,20fb096f,add35b7c,ca1f9504,ea7205cd,bb69bf55,30436bfc,ed10571d
2234489,2234489,0,11.0,397.0,11.0,41.0,27.0,0.0,1.0,4,...,1f7fc70b,b7771e51,9512c20b,a72ef1cd,c750764a,481d6c49,f0b47f02,56001440,ff654802,de53bdf9
4304572,4304572,0,NaN,5.0,NaN,1.0,NaN,24.0,0.0,0,...,d20856aa,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,165fbf32,ff654802,e1be5ef2
6550634,6550634,0,55.0,365.0,18.0,26.0,41.0,0.0,0.0,0,...,1f7fc70b,b8170bba,9512c20b,b8ee5f9f,ba97f9bb,682aa69c,bca162b3,10faae8f,337b81aa,6c730e3e
6423388,6423388,0,2.0,515.0,1.0,357.0,19.0,0.0,0.0,27,...,NaN,a1eb1511,9512c20b,47849e55,73b3f46d,d994ba60,NaN,7364fdf0,ff654802,b757e957

if1     object
if2     object
if3     object
if4     object
if5     object
if6     object
if7     object
if8     object
if9     object
if10    object
if11    object
if12    object
if13    object
cf1     object
cf2     object
cf3     object
cf4     object
cf5     object
cf6     object
cf7     object
cf8     object
cf9     object
cf10    object
cf11    object
cf12    object
cf13    object
cf14    object
cf15    object
cf16    object
cf17    object
cf18    object
cf19    object
cf20    object
cf21    object
cf22    object
cf23    object
cf24    object
cf25    object
cf26    object
dtype: object

In [5]:
a = [1,2,3, 4, 5]

In [7]:
a.remove(1,3,5)

TypeError: remove() takes exactly one argument (3 given)

In [4]:
a

[2, 3]

In [27]:
path = '/home/users/ValentinMSU17/ozon-masters-bigdata/test'

In [28]:
from model import fields
from joblib import load

In [29]:
model = load("/home/users/ValentinMSU17/ozon-masters-bigdata/1.joblib")

In [30]:
fields.remove('label')

In [31]:
read_opts=dict(
        sep='\t', names=fields, index_col=False, header=None,
        iterator=True, chunksize=2
)

In [36]:
for df in pd.read_csv(path, **read_opts):
    ids = df['id']
    df.drop(columns=['id', 'day_number'], inplace=True)
    pred = model.predict_proba(df)[:,1]
    out = zip(ids, pred)
    print("\n".join(["{0},{1}".format(*i) for i in out]))

0,0.01437098697190963
1,0.013309241564458028
2,0.035744182241916805
3,0.004231704968595571

In [21]:
df.dtypes

if1       int64
if2     float64
if3     float64
if4     float64
if5       int64
if6       int64
if7       int64
if8       int64
if9       int64
if10    float64
if11      int64
if12    float64
if13     object
cf1      object
cf2      object
cf3      object
cf4      object
cf5      object
cf6      object
cf7      object
cf8      object
cf9      object
cf10      int64
cf11     object
cf12     object
cf13     object
cf14     object
cf15     object
cf16     object
cf17     object
cf18     object
cf19     object
cf20     object
cf21     object
cf22     object
cf23     object
cf24     object
cf25     object
cf26     object
dtype: object

In [25]:
df = pd.read_csv(path, **read_opts)

In [24]:
read_opts=dict(
        sep='\t', names=fields, index_col=False, header=None)#

In [26]:
df

,id,label,if1,if2,if3,if4,if5,if6,if7,if8,...,cf18,cf19,cf20,cf21,cf22,cf23,cf24,cf25,cf26,day_number
0,0,NaN,90.0,NaN,64.0,3.0,1,0,1,1,...,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,c1ae92b8,30436bfc,e1be5ef2,day_7,NaN
1,1,60.0,224.0,NaN,NaN,NaN,0,0,7,0,...,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,5dea4c3e,ff654802,e1be5ef2,day_7,NaN
2,2,8.0,2249.0,28.0,36.0,90.0,6,0,186,34,...,09c8c22c,c8c79f80,ed5a7d34,603ba0f0,e0c431d3,a328ee46,991321ea,b757e957,day_7,NaN
3,3,88.0,NaN,47.0,203.0,NaN,0,0,54,14,...,cc7a7d3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN